@{
    string name = "";
}

<p>
    Всего элементов: @ViewBag.TotalCount
</p>
<table class="table table-hover" id="categoriesTable">
    <thead>
        <tr>
            <th scope="col">
                Номер
            </th>
            <th scope="col">
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td scope="row">
                @item.Id
            </td>
            <td scope="row">
                @item.Name
            </td>
            <td scope="row">
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Изменить
                    </button>
                    <form class="dropdown-menu p-2" asp-controller="ProductCategory">
                        <div class="mb-3 form-floating">
                            <input type="text" id="pcNewName" class="form-control" asp-for="@name" placeholder="Наименование">
                            <label for="pcNewName">Наименование</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary" 
                            asp-action="Update" asp-route-id="@item.Id">Сохранить</button>
                            <div class="dropdown-divider"></div>
                            <a class="btn btn-primary" asp-controller="ProductCategory"
                               asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages.Value; i++)
        {
            <li class="page-item">
                <button class="page-link"
                        onclick="changePage(@i)" value="@i">
                    @i
                </button>
            </li>
        }
    </ul>
</nav>